

/* Table*/
.category-table {
  font-size: 14px;
}

/* Button  */
.btn {
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Modal  */
.modal-content {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: none;
}

/* Form */
.form-group label {
  font-weight: bold;
}


