<section>
    <div class="container myTickets header pt-4 mt-4">
        <h1 class="">My Tickets</h1>
    
        <span>
            <p class="form-title" style="font-size: 18px;">Find all your previous tickets here, or create a new ticket and get solutions on the go</p>
        </span>
    </div>
</section>

<!-- Tickets-list -->
<section>
    <div class="container table shadow" id="tickets-list">
        <hr>
        <div class="card mt-4">
        
            <div class="card">
                <div class="card-title ms-auto mt-2">
                    <span class="p-4"><button type="button" class="btn btn-outline-secondary btn-sm">Open Tickets</button></span>
                    <span class="p-4"><button type="button" class="btn btn-outline-secondary btn-sm">Closed Tickets</button></span>
                    <span><a href="/tickets-form" class="btn btn-primary btn-sm" routerLink="/tickets-form">Create New Ticket</a></span>
                </div>

                <!-- submitted Tickets -->
                <div class="container">
                    <table class="table mt-4" *ngIf="">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Created</th>
                                <th scope="col">Last Activity</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        
        </div>
        <div class="d-flex flex-column align-items-center mt-4">
            <i class="bi bi-x-circle" style="font-size: 8rem;"></i>
            <p class="h4 mt-3">No tickets here</p>
            <a href="/tickets-form" class="btn btn-primary mt-4 mx-auto mb-4">Create New Ticket</a>
        </div>
    </div>
</section>
