
.logo {
    display: flex;
    align-items: center;
  }

  .logo-img {
    width: 40px;
    height: 40px;
  }

  .navbar-nav .nav-link {
    padding: 12px;
    color: rgb(16, 15, 15);
    font-weight: bold;
  }

  .navbar-nav .nav-link:hover {
    color: #007bff;
  }

  
