
  section {
    padding: 20px;
    background-color: #f8f9fa;
  }

  .container {
   max-width: 1000px;
 }

  .card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .card-header {
    background-color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
  }

  .card-title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .card-body {
    padding: 20px;
  }

  .form-container {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease-in-out;
  }

  .form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .btn-primary {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .fie-input{
    display: none;
  }
  .attachment-container {
    position: relative;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  .attachment-container:hover {
    background-color: #e0e0e0;
  }
  
  .attachment-label {
    display: flex;
    align-items: center;
    color: #777;
  }
  
  .attachment-label i {
    margin-right: 5px;
  }
  
  .attachment-placeholder {
    color: #777;
  }
  
  .selected-file {
    margin-top: 10px;
  }
  
  .selected-file span {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
  }
  
  .selected-file button {
    margin-left: 10px;
    font-size: 12px;
    color: #777;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .progress {
    margin-top: 10px;
    height: 8px;
    background-color: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
  }
  
  .cancel-upload {
    margin-left: 5px;
    color: #f44336;
    cursor: pointer;
  }
  
  .progress {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .progress-bar {
    flex-grow: 1;
  }
  
  .cancel-upload {
    margin-left: 10px;
    cursor: pointer;
  }
  