<section>
    <div class="container col-md-6 mt-5">
      <div class="card shadow">
        <div class="card-header">
          <div class="card-title">
            Create Category
          </div>
        </div>
  
        <div class="card-body">
          <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="app">App:</label>
                  <select id="app" formControlName="app" class="form-control" required>
                    <option value="">Select App</option>
                    <option value="banking">Banking</option>
                    <option value="erp">ERP</option>
                    <option value="hr">HR</option>
                  </select>
                  <div class="invalid-feedback" *ngIf="categoryForm.get('app')?.invalid && categoryForm.get('app')?.touched">
                    App is required.
                  </div>
                </div>
              </div>
  
              <div class="col-md-6">
                <div class="form-group">
                  <label for="id">ID:</label>
                  <input id="id" type="text" formControlName="parentCategoryId" class="form-control" required>
                  <div class="invalid-feedback" *ngIf="categoryForm.get('parentCategoryId')?.invalid && categoryForm.get('parentCategoryId')?.touched">
                    ID is required.
                  </div>
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <label for="name">Name:</label>
              <input id="name" type="text" formControlName="name" class="form-control" required>
              <div class="invalid-feedback" *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
                Name is required.
              </div>
            </div>
  
            <div class="form-group">
              <label for="description">Description:</label>
              <input id="description" type="text" formControlName="description" class="form-control" required>
              <div class="invalid-feedback" *ngIf="categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched">
                Description is required.
              </div>
            </div>
  
            <button type="submit" class="btn btn-primary mt-4" [disabled]="categoryForm.invalid">Create</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  